---
const heyhey = 'yoyo';
---

<!-- coment -->
<!-- coment -->
<!-- coment -->
<!-- coment -->
<!-- (editor="textarea" maxlength="50") -->
<p>TEST {heyhey}</p>
<p>TEST</p>
<!-- (editor) -->
<h6>IM AN H 6</h6>
<p>TEST</p>
